@charset "utf-8";

/************************************************

					setting

*************************************************/
* {
	outline: 0;
	box-sizing: border-box;
    -webkit-text-size-adjust: none;
}
html,body {
	width: 100%;
    height: 100%;
	background-color: #ffffff;
    color: #111111;
    font-size: 16px;
    line-height: 1.1em;
	font-weight: 500;
    font-family: 'NotoSansKR',sans-serif;
	letter-spacing: -0.025em;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
input[type="submit"],input[type="button"],input[type="text"],input[type="email"],input[type="tel"],input[type="password"],textarea {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
	border-radius: 0;
	border: none;
}
input[type="submit"],input[type="checkbox"],input[type="radio"],input[type="button"],button,select,label {
	cursor: pointer;
}
input[type="submit"]:disabled,input[type="checkbox"]:disabled,input[type="radio"]:disabled,input[type="button"]:disabled,button:disabled {
	cursor: default;
}
input[type='text'],input[type='email'],input[type='tel'],input[type='number'],input[type='password'] {
    width: 100%;
    height: 40px;
    padding: 11px 10px;
    background-color: #ffffff;
    border: 1px solid #c6d8fc;
    color: #475177;
    font-size: inherit;
    line-height: 1em;
    font-weight: 500;
    font-family: 'NotoSansKR','dotum',sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	border-radius: 4px;
}
input[type='text']:read-only {
    cursor: default;
}
input[type='text']:disabled,input[type='email']:disabled,input[type='tel']:disabled,input[type='number']:disabled,input[type='password']:disabled {
    background-color: #e6eefe;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="checkbox"] {
    width: 0;
    height: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    clip:rect(0,0,0,0);
}
input[type="checkbox"] + label {
    display: inline-block;
    margin: 11px 0 11px 23px;
    color: #475177;
    line-height: 1em;
    text-indent: -23px;
}
input[type="checkbox"]:disabled + label {
    cursor: default;
}
input[type="checkbox"] + label:before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 5px;
    background: url('../img/checkbox-off.png') no-repeat center;
    background-size: contain;
}
input[type="checkbox"]:checked + label:before {
    background: url('../img/checkbox-on.png') no-repeat center;
    background-size: contain;
}
input[type="checkbox"]:disabled + label:before {
    background: url('../img/checkbox-disabled-off.png') no-repeat center;
    background-size: contain;
    cursor: default;
}
input[type="checkbox"]:disabled:checked + label:before {
    background: url('../img/checkbox-disabled-on.png') no-repeat center;
    background-size: contain;
    cursor: default;
}
input[type="radio"] {
    width: 0;
    height: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    clip:rect(0,0,0,0);
}
input[type="radio"] + label {
    display: inline-block;
    margin: 11px 0 11px 23px;
    color: #475177;
    line-height: 1em;
    text-indent: -23px;
}
input[type="radio"]:disabled + label {
    cursor: default;
}
input[type="radio"] + label:before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 5px;
    background: url('../img/radio-off.png') no-repeat center;
    background-size: contain;
}
input[type="radio"]:checked + label:before {
    background: url('../img/radio-on.png') no-repeat center;
    background-size: contain;
}
input[type="radio"]:disabled + label:before {
    background: url('../img/radio-disabled-off.png') no-repeat center;
    background-size: contain;
    cursor: default;
}
input[type="radio"]:disabled:checked + label:before {
    background: url('../img/radio-disabled-on.png') no-repeat center;
    background-size: contain;
    cursor: default;
}
textarea {
    width: 100%;
    height: auto;
    min-height: 40px;
    vertical-align: middle;
    padding: 11px 10px;
    background-color: #ffffff;
    border: 1px solid #c6d8fc;
    color: #475177;
    font-size: inherit;
    line-height: 1.2em;
    font-weight: 500;
    font-family: 'NotoSansKR','dotum',sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	border-radius: 4px;
    resize: none;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
textarea::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
select {
    width: 100%;
    height: 40px;
    padding: 11px 29px 11px 10px;
    background: #ffffff url('../img/select.png') no-repeat right center;
    background-size: auto 5px;
    border: 1px solid #c6d8fc;
    color: #475177;
    font-size: inherit;
    line-height: 1em;
    font-weight: 500;
    font-family: 'NotoSansKR','dotum',sans-serif;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	border-radius: 4px;
}
select::-ms-expand {
	display: none;
}
select:disabled {
    background-color: #e6eefe;
    opacity: 1;
    cursor: default;
}
input::-webkit-input-placeholder {
	color: #9da1b4;
}
input::-moz-placeholder {
	color: #9da1b4;
}
input::-ms-input-placeholder {
	color: #9da1b4;
}
textarea::-webkit-input-placeholder {
	color: #9da1b4 !important;
}
textarea::-moz-placeholder {
	color: #9da1b4 !important;
}
textarea::-ms-input-placeholder {
	color: #9da1b4 !important;
}
button {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    vertical-align: top;
    background-color: #ffffff;
    border: 1px solid #c6d8fc;
    color: #475177;
    font-size: 1em;
    line-height: inherit;
    font-weight: 500;
    font-family: 'NotoSansKR','dotum',sans-serif;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	border-radius: 4px;
}
button:hover {
    background-color: #e6eefe;
}
button:disabled {
    background-color: #d7d7d7 !important;
    border: 1px solid #d7d7d7 !important;
    color: #828282 !important;
}
button>span {
    position: relative;
}
header,nav,aside,section,article,footer,details,figcaption,figure,hgroup,main,summary,h1,h2,h3 {
    display: block;
    margin: 0;
    padding: 0;
}
dl,ol,ul {
    margin: 0;
}
p,span,th,td {
    word-break: keep-all;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
img {
	vertical-align: top;
}
img,picture,video,canvas,svg {
    max-width: 100%;
    display: block;
}
.not-view {
	width: 0;
	height: 0;
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.not-pointer {
    cursor: default;
}
.txt-indent {
    display: block;
    margin-left: 1em;
    text-indent: -1em;
}
.cf:after {
	content: '';
	clear: both;
	display: block;
}
.scroll-disable {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    touch-action: none;
}

@media screen and (max-width: 575px) {
    html,body {
        font-size: 14px;
    }
    input[type='text'],input[type='email'],input[type='tel'],input[type='number'],input[type='password'] {
        height: 36px;
        padding: 10px;
    }
    input[type="checkbox"] + label {
        margin: 10px 0 10px 21px;
        text-indent: -21px;
    }
    input[type="checkbox"] + label:before {
        width: 16px;
        height: 16px;
    }
    input[type="radio"] + label {
        margin: 10px 0 10px 21px;
        text-indent: -21px;
    }
    input[type="radio"] + label:before {
        width: 16px;
        height: 16px;
    }
    textarea {
        min-height: 36px;
        padding: 10px;
    }
    select {
        height: 36px;
        padding: 10px 29px 10px 10px;
    }
    button {
        height: 36px;
        padding: 0 15px;
    }
}

/************************************************

					header

*************************************************/
header.header {
    width: 100%;
    height: 58px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #ffffff;
    border-bottom: 1px solid #d7d7d7;
}
header.main-header {
    border-bottom: 1px solid #ffffff;
}
header.header .header-logo-area {
    padding: 13px 0;
    position: absolute;
    top: 0;
    left: 15px;
}
header.header .header-logo-area .header-logo-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
header.header .header-logo-area .header-logo-img img {
    width: auto;
    height: 30px;
}
header.header .header-logo-area .header-logo-txt {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 15px 4px 0;
    font-size: 1.375em;
    font-weight: 700;
}
header.header .header-icon-area {
    padding: 15px 0;
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 1em;
}
header.header .header-icon-area .header-icon-weather {
    display: inline-block;
    vertical-align: middle;
}
header.header .header-icon-area .header-icon-weather .header-weather-img {
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}
header.header .header-icon-area .header-icon-weather .icon-weather01 {
    background: url('../img/icon-weather01.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather02 {
    background: url('../img/icon-weather02.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather03 {
    background: url('../img/icon-weather03.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather04 {
    background: url('../img/icon-weather04.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather05 {
    background: url('../img/icon-weather05.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather06 {
    background: url('../img/icon-weather06.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather07 {
    background: url('../img/icon-weather07.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather08 {
    background: url('../img/icon-weather08.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather09 {
    background: url('../img/icon-weather09.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather10 {
    background: url('../img/icon-weather10.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather11 {
    background: url('../img/icon-weather11.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather12 {
    background: url('../img/icon-weather12.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .icon-weather13 {
    background: url('../img/icon-weather13.png') no-repeat center;
    background-size: contain;
}
header.header .header-icon-area .header-icon-weather .header-weather-txt {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}
header.header .header-icon-area .header-icon-user {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    position: relative;
}
header.header .header-icon-area .header-icon-user .header-user-btn {
    width: 21px;
    height: 22px;
    position: relative;
    background: url('../img/icon-user.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}
header.header .header-icon-area .header-icon-user .header-user-btn .header-user-cnt {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: #ff4438;
    color: #ffffff;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.1em;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
	border-radius: 50%;
}
header.header .header-icon-area .header-icon-user .header-user-list {
    width: auto;
    height: auto;
    min-width: 80px;
    display: none;
    position: absolute;
    top: 27px;
    left: 50%;
    background-color: #ffffff;
    border: 1px solid #e6e6f2;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
header.header .header-icon-area .header-icon-user .header-user-list.on {
    display: block;
}
header.header .header-icon-area .header-icon-user .header-user-list>li {
    border-top: 1px solid #e6e6f2;
    color: #3d405c;
    font-size: 0.813em;
    text-align: center;
}
header.header .header-icon-area .header-icon-user .header-user-list>li:first-child {
    border-top: none;
}
header.header .header-icon-area .header-icon-user .header-user-list>li a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
}
header.header .header-icon-area .header-icon-user .header-user-list>li a:hover {
    background-color: #f5f5f8;
}
header.header .header-icon-area .header-icon-user .header-user-list>li a span {
    color: #527ffe;
    font-weight: 700;
}
header.header .header-icon-area .header-icon-menu {
    display: inline-block;
    vertical-align: middle;
    margin-left: 19px;
}
header.header .header-icon-area .header-icon-menu .header-menu-btn {
    width: 24px;
    height: 19px;
    background: url('../img/icon-menu.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    header.header .header-logo-area .header-logo-txt {
        display: none;
    }
    /*header.header .header-icon-area .header-icon-user {
        display: none;
    }*/
}

@media screen and (max-width: 575px) {
    header.header {
        height: 52px;
    }
    header.header .header-logo-area {
        padding: 10px 0;
        left: 10px;
    }
    header.header .header-logo-area .header-logo-txt {
        padding: 5px 15px 5px 0;
    }
    header.header .header-icon-area {
        padding: 12px 0;
        right: 10px;
    }
    header.header .header-icon-area .header-icon-user {
        margin-left: 10px;
    }
    header.header .header-icon-area .header-icon-menu {
        margin-left: 14px;
    }
}

/************************************************

					nav

*************************************************/
nav.nav {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    background-color: #f9faff;
}
nav.nav.on {
    display: block;
}
nav.nav .nav-tit {
    width: 100%;
    height: 58px;
    padding: 19px 15px;
    background-color: #15204a;
    color: #ffffff;
    font-size: 0.875em;
    position: relative;
}
nav.nav .nav-tit .nav-tit-list {
    display: none;
}
nav.nav .nav-tit .nav-tit-list>li {
    display: inline-block;
    vertical-align: middle;
}
nav.nav .nav-tit .nav-tit-list>li:before {
    content: '';
    width: 2px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0;
    background-color: #ffffff;
}
nav.nav .nav-tit .nav-tit-list>li:first-child:before {
    display: none;
}
nav.nav .nav-tit .nav-tit-list>li a span {
    color: #b7caff;
}
nav.nav .nav-tit .nav-tit-btn {
    width: auto;
    height: auto;
    padding: 0;
    position: absolute;
    top: 19px;
    right: 15px;
    background-color: transparent;
    border: none;
}
nav.nav .nav-tit .nav-tit-btn:hover {
    background-color: transparent;
}
nav.nav .nav-tit .nav-tit-btn img {
    width: auto;
    height: 20px;
}
nav.nav .nav-menu-list {
    width: 100%;
    height: calc(100vh - 58px);
    height: calc(calc(var(--vh, 1vh) * 100) - 58px);
    padding: 15px 5px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
nav.nav .nav-menu-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
nav.nav .nav-menu-list>li {
    max-width: 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    padding: 10px;
}
nav.nav .nav-menu-list>li .menu-list-area {
    width: 100%;
    height: 100%;
    padding: 20px 17px;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
nav.nav .nav-menu-list>li .menu-list-area:hover {
    background-color: #eff2f8;
}
nav.nav .nav-menu-list>li .menu-list-area[onclick] {
    cursor: pointer;
}
nav.nav .nav-menu-list>li .menu-list-area .menu-list-img {
    width: 22px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 5px;
}
nav.nav .nav-menu-list>li .menu-list-area .menu-list-img img {
    width: 100%;
    height: auto;
}
nav.nav .nav-menu-list>li .menu-list-area .menu-list-txt {
    width: calc(100% - 34px);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-right: 23px;
    font-size: 1.125em;
}
nav.nav .nav-menu-list>li .menu-list-area[onclick] .menu-list-txt:after {
    content: '';
    width: 10px;
    height: 15px;
    display: block;
    position: absolute;
    top: 2px;
    right: 3px;
    background: url('../img/icon-move.png') no-repeat center;
    background-size: contain;
}
nav.nav .nav-menu-list>li .menu-list-area .sub-menu-list {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
nav.nav .nav-menu-list>li .menu-list-area .sub-menu-list>li {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 5px 3px;
}
nav.nav .nav-menu-list>li .menu-list-area .sub-menu-list>li a {
    width: 100%;
    height: 100%;
    padding: 8px 27px 8px 10px;
    background-color: #e2e5ed;
    border: 1px solid #e2e5ed;
    color: #353f55;
    font-size: 0.875em;
    position: relative;
    word-break: keep-all;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	border-radius: 4px;
}
nav.nav .nav-menu-list>li .menu-list-area .sub-menu-list>li a:after {
    content: '';
    width: 7px;
    height: 10px;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    background: url('../img/icon-move2.png') no-repeat center;
    background-size: contain;
    -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
nav.nav .nav-menu-list>li .menu-list-area .sub-menu-list>li a:hover {
    background-color: #cdd2e0;
}

@media screen and (max-width: 1199px) {
    nav.nav .nav-menu-list .menu-pc-item {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    nav.nav .nav-menu-list>li {
        max-width: 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

@media screen and (max-width: 767px) {
    /*nav.nav .nav-tit .nav-tit-list {
        display: block;
    }*/
}

@media screen and (max-width: 575px) {
    nav.nav .nav-tit {
        height: 52px;
        padding: 17px 10px;
    }
    nav.nav .nav-tit .nav-tit-btn {
        top: 16px;
        right: 10px;
    }
    nav.nav .nav-menu-list {
        height: calc(100vh - 52px);
        height: calc(calc(var(--vh, 1vh) * 100) - 52px);
        padding: 15px 5px 20px;
    }
    nav.nav .nav-menu-list>li {
        max-width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 5px;
    }
    nav.nav .nav-menu-list>li .menu-list-area .sub-menu-list>li a {
        font-size: 1em;
    }
}

/************************************************

					aside

*************************************************/
aside.aside {
    width: 250px;
    height: calc(100vh - 58px);
    height: calc(calc(var(--vh, 1vh) * 100) - 58px);
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    background-color: #f9faff;
    border-right: 1px solid #d7d7d7;
    position: relative;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
aside.aside::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
aside.aside .aside-list-area {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
aside.aside .aside-list-area::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
aside.aside .aside-list-area .aside-list>li>.aside-list {
    display: none;
}
aside.aside .aside-list-area .aside-list>li.on>.aside-list {
    display: block;
}
aside.aside .aside-list-area .aside-list>li>.aside-list-tit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 29px 10px 10px;
    background-color: #f1f5ff;
    border-bottom: 1px solid #d7d7d7;
    color: #111111;
    line-height: 1.2em;
    position: relative;
    cursor: pointer;
}
aside.aside .aside-list-area .aside-list>li>.aside-list-tit:after {
    content: '';
    width: 9px;
    height: 5px;
    display: block;
    background: url('../img/aside-list-show.png') no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
aside.aside .aside-list-area .aside-list>li.on>.aside-list-tit:after {
    background: url('../img/aside-list-hide.png') no-repeat center;
    background-size: contain;
}
aside.aside .aside-list-area>.aside-list>li>.aside-list-tit {
    background-color: #15204a;
    color: #ffffff;
}
aside.aside .aside-list-area>.aside-list>li>.aside-list-tit:after {
    background: url('../img/aside-list2-show.png') no-repeat center;
    background-size: contain;
}
aside.aside .aside-list-area>.aside-list>li.on>.aside-list-tit:after {
    background: url('../img/aside-list2-hide.png') no-repeat center;
    background-size: contain;
}
aside.aside .aside-list-area>.aside-list>li>.aside-list>li>.aside-list-tit {
    padding-left: 30px;
}
aside.aside .aside-list-area>.aside-list>li>.aside-list>li>.aside-list>li>.aside-list-tit {
    padding-left: 50px;
}
aside.aside .aside-list-area .aside-last-list>li>.aside-list-tit {
    background-color: #f9faff;
    color: #111111;
    font-size: 0.875em;
    cursor: default;
}
aside.aside .aside-list-area .aside-last-list>li>.aside-list-tit:after {
    display: none;
}
aside.aside .aside-list-area .aside-last-list>li>.aside-list-tit[onclick] {
    border-bottom: 1px solid #d7d7d7;
    cursor: pointer;
}
aside.aside .aside-list-area .aside-last-list>li>.aside-list-tit.on {
    background-color: #15204a;
    color: #ffffff;
}
aside.aside .aside-list-area .aside-list>li>.aside-list-tit .aside-list-name {
    margin-left: 20px;
    text-indent: -20px;
    word-break: break-all;
}
aside.aside .aside-list-area .aside-list>li>.aside-list-tit .aside-list-name:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
    background-color: #111111;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
	border-radius: 2px;
}
aside.aside .aside-list-area>.aside-list>li>.aside-list-tit .aside-list-name:before {
    background-color: #ffffff;
}
aside.aside .aside-list-area .aside-last-list>li>.aside-list-tit .aside-list-name:before {
    margin-top: -3px;
    background-color: #111111;
}
aside.aside .aside-list-area .aside-list>li>.aside-list-tit .aside-list-check {
    width: auto;
    height: auto;
    margin-left: 5px;
    flex-shrink: 0;
}
aside.aside .aside-list-area .aside-list>li>.aside-list-tit .aside-list-check input[type="checkbox"] + label {
    margin: 0;
    text-indent: 0;
}
aside.aside .aside-list-area .aside-list>li>.aside-list-tit .aside-list-check input[type="checkbox"] + label:before {
    margin: 0;
}
aside.aside .aside-search-area {
    width: 100%;
    height: auto;
    padding: 10px 10px 15px;
}
aside.aside div ~ .aside-search-area {
    padding-top: 0;
}
aside.aside .aside-search-area .aside-search-tit {
    margin-bottom: 10px;
    font-weight: 700;
}
aside.aside .aside-search-area .aside-search-date {
    margin-bottom: 10px;
}
aside.aside .aside-search-area .aside-search-date>li input[type="radio"] + label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.875em;
}
aside.aside .aside-search-area .aside-search-item {
    margin-top: 10px;
}
aside.aside .aside-search-area .aside-search-item .aside-search-item-tit {
    color: #475177;
    font-size: 0.875em;
    margin-bottom: 5px;
}
aside.aside .aside-search-area .aside-search-item .aside-search-item-con .c-date-input,
aside.aside .aside-search-area .aside-search-item .aside-search-item-con .c-datetime-input,
aside.aside .aside-search-area .aside-search-item .aside-search-item-con .c-year-input {
    margin-top: 5px;
}
aside.aside .aside-search-area .aside-search-item .aside-search-item-con .c-date-input:first-child,
aside.aside .aside-search-area .aside-search-item .aside-search-item-con .c-datetime-input:first-child,
aside.aside .aside-search-area .aside-search-item .aside-search-item-con .c-year-input:first-child {
    margin-top: 0;
}
aside.aside .aside-btn-area {
    width: 100%;
    height: auto;
    padding: 10px 10px 15px;
    /*padding: 10px 10px 146px;*/
}
aside.aside div ~ .aside-btn-area {
    padding-top: 0;
}
aside.aside .aside-btn-area .aside-btn {
    margin-top: 5px;
}
aside.aside .aside-btn-area .aside-btn:first-child {
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    aside.aside {
        display: none;
        position: absolute;
        top: 58px;
        right: 0;
        z-index: 55;
        border-right: none;
        border-left: 1px solid #d7d7d7;
    }
    .m-wrap .c-search-wrap.on aside.aside {
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 575px) {
    aside.aside {
        height: calc(100vh - 52px);
        height: calc(calc(var(--vh, 1vh) * 100) - 52px);
        top: 52px;
    }
    aside.aside .aside-list-area .aside-list>li>.aside-list-tit .aside-list-name {
        margin-left: 18px;
        text-indent: -18px;
    }
    aside.aside .aside-list-area .aside-list>li>.aside-list-tit .aside-list-name:before {
        width: 13px;
        height: 13px;
    }
    aside.aside .aside-list-area .aside-last-list>li>.aside-list-tit .aside-list-name:before {
        margin-top: -2px;
    }
    aside.aside .aside-btn-area {
        /*padding: 10px 10px 126px;*/
    }
}

/************************************************

					footer

*************************************************/


