@charset "utf-8";

/* header */
header.header {
    top: calc(constant(safe-area-inset-top) + 0px);
    top: calc(env(safe-area-inset-top) + 0px);
}

/* nav */
nav.nav {
    top: calc(constant(safe-area-inset-top) + 0px);
    top: calc(env(safe-area-inset-top) + 0px);
}
nav.nav .nav-menu-list {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 58px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 58px);
}

@media screen and (max-width: 575px) {
    nav.nav .nav-menu-list {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 52px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 52px);
    }
}

/* aside */
aside.aside {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 58px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 58px);
}

@media screen and (max-width: 575px) {
    aside.aside {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 52px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 52px);
    }
}

/* setting */
.m-wrap .c-wrap {
    min-height: calc(constant(safe-area-inset-bottom) + 100vh);
    min-height: calc(env(safe-area-inset-bottom) + 100vh);
}
.c-content-area {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 100px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 100px);
}

@media screen and (max-width: 575px) {
    .c-content-area {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 90px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 90px);
    }
}

/* preloader */
.preloader {
    top: calc(constant(safe-area-inset-top) + 0px);
    top: calc(env(safe-area-inset-top) + 0px);
}

/* login */
.m-wrap .c-login {
    height: calc(constant(safe-area-inset-bottom) + 100vh);
    height: calc(env(safe-area-inset-bottom) + 100vh);
}
.c-login .login-img-area .login-logo-area {
    top: calc(constant(safe-area-inset-top) + 0px);
    top: calc(env(safe-area-inset-top) + 0px);
}

/* main */
.c-main .main-area {
    min-height: calc(constant(safe-area-inset-bottom) + 100vh - 100px);
    min-height: calc(env(safe-area-inset-bottom) + 100vh - 100px);
}

@media screen and (max-width: 575px) {
    .c-main .main-area {
        min-height: calc(constant(safe-area-inset-bottom) + 100vh - 90px);
        min-height: calc(env(safe-area-inset-bottom) + 100vh - 90px);
    }
}

/* map */
.c-map .map-vertical-icon-area.map-pc-icon {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 142px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 142px);
}
.map-layer-wrap {
    max-height: calc(constant(safe-area-inset-bottom) + 100vh - 182px);
    max-height: calc(env(safe-area-inset-bottom) + 100vh - 182px);
}
.map-layer-wrap .map-layer-box .map-layer-con-area .map-list-area {
    max-height: calc(constant(safe-area-inset-bottom) + 100vh - 285px);
    max-height: calc(env(safe-area-inset-bottom) + 100vh - 285px);
}
.map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-area + .map-toptab-con .map-list-area {
    max-height: calc(constant(safe-area-inset-bottom) + 100vh - 335px);
    max-height: calc(env(safe-area-inset-bottom) + 100vh - 335px);
}
.map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-con .map-ledger2-list-area .map-list-area {
    max-height: calc(constant(safe-area-inset-bottom) + 100vh - 544px);
    max-height: calc(env(safe-area-inset-bottom) + 100vh - 544px);
}
.map-layer-wrap .map-layer-box .map-layer-con-area .map-layer-list-area {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 245px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 245px);
    max-height: none;
}
.map-layer-wrap .map-layer-box .map-layer-con-area .map-setting-area .map-setting .map-setting-item .map-setting-list {
    max-height: calc(constant(safe-area-inset-bottom) + 100vh - 402px);
    max-height: calc(env(safe-area-inset-bottom) + 100vh - 402px);
}
.map-layer-wrap .map-layer-box .map-layer-con-area .c-wrap {
    min-height: calc(constant(safe-area-inset-bottom) + 100vh - 224px);
    min-height: calc(env(safe-area-inset-bottom) + 100vh - 224px);
}
.map-layer-wrap .map-layer-box .map-layer-con-area aside.aside {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 224px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 224px);
}
.map-layer-wrap .map-layer-box .map-layer-con-area .c-content-area {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 224px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 224px);
}

@media screen and (max-width: 575px) {
    .c-map .map-vertical-icon-area.map-pc-icon {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 128px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 128px);
    }
    .map-layer-wrap {
        max-height: calc(constant(safe-area-inset-bottom) + 100vh - 153px);
        max-height: calc(env(safe-area-inset-bottom) + 100vh - 153px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 100vh - 242px);
        max-height: calc(env(safe-area-inset-bottom) + 100vh - 242px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-area + .map-toptab-con .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 100vh - 286px);
        max-height: calc(env(safe-area-inset-bottom) + 100vh - 286px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-con .map-ledger2-list-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 100vh - 485px);
        max-height: calc(env(safe-area-inset-bottom) + 100vh - 485px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-layer-list-area {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 217px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 217px);
        max-height: none;
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-setting-area .map-setting .map-setting-item .map-setting-list {
        max-height: calc(constant(safe-area-inset-bottom) + 100vh - 348px);
        max-height: calc(env(safe-area-inset-bottom) + 100vh - 348px);
    }
}

@media screen and (max-width: 475px) {
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-setting-area .map-setting .map-setting-item .map-setting-list {
        max-height: calc(constant(safe-area-inset-bottom) + 50vh - 228px);
        max-height: calc(env(safe-area-inset-bottom) + 50vh - 228px);
    }
}

@media screen and (max-height: 661px) and (min-width: 1200px) {
    .c-map .c-content-area {
        min-height: calc(constant(safe-area-inset-bottom) + 561px);
        min-height: calc(env(safe-area-inset-bottom) + 561px);
    }
    .c-map .map-vertical-icon-area.map-pc-icon {
        height: calc(constant(safe-area-inset-bottom) + 519px);
        height: calc(env(safe-area-inset-bottom) + 519px);
    }
    .map-layer-wrap {
        max-height: calc(constant(safe-area-inset-bottom) + 479px);
        max-height: calc(env(safe-area-inset-bottom) + 479px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 376px);
        max-height: calc(env(safe-area-inset-bottom) + 376px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-area + .map-toptab-con .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 326px);
        max-height: calc(env(safe-area-inset-bottom) + 326px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-con .map-ledger2-list-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 117px);
        max-height: calc(env(safe-area-inset-bottom) + 117px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-layer-list-area {
        height: calc(constant(safe-area-inset-bottom) + 416px);
        height: calc(env(safe-area-inset-bottom) + 416px);
        max-height: none;
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-setting-area .map-setting .map-setting-item .map-setting-list {
        max-height: calc(constant(safe-area-inset-bottom) + 259px);
        max-height: calc(env(safe-area-inset-bottom) + 259px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .c-wrap {
        min-height: calc(constant(safe-area-inset-bottom) + 437px);
        min-height: calc(env(safe-area-inset-bottom) + 437px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area aside.aside {
        height: calc(constant(safe-area-inset-bottom) + 437px);
        height: calc(env(safe-area-inset-bottom) + 437px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .c-content-area {
        height: calc(constant(safe-area-inset-bottom) + 437px);
        height: calc(env(safe-area-inset-bottom) + 437px);
        min-height: auto;
    }
}

@media screen and (max-height: 907px) and (min-width: 768px) and (max-width: 1199px) {
    .c-map .c-content-area {
        min-height: calc(constant(safe-area-inset-bottom) + 807px);
        min-height: calc(env(safe-area-inset-bottom) + 807px);
    }
    .c-map .map-vertical-icon-area.map-pc-icon {
        height: calc(constant(safe-area-inset-bottom) + 765px);
        height: calc(env(safe-area-inset-bottom) + 765px);
    }
    .map-layer-wrap {
        max-height: calc(constant(safe-area-inset-bottom) + 725px);
        max-height: calc(env(safe-area-inset-bottom) + 725px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 622px);
        max-height: calc(env(safe-area-inset-bottom) + 622px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-area + .map-toptab-con .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 572px);
        max-height: calc(env(safe-area-inset-bottom) + 572px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-con .map-ledger2-list-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 363px);
        max-height: calc(env(safe-area-inset-bottom) + 363px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-layer-list-area {
        height: calc(constant(safe-area-inset-bottom) + 662px);
        height: calc(env(safe-area-inset-bottom) + 662px);
        max-height: none;
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-setting-area .map-setting .map-setting-item .map-setting-list {
        max-height: calc(constant(safe-area-inset-bottom) + 505px);
        max-height: calc(env(safe-area-inset-bottom) + 505px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .c-wrap {
        min-height: calc(constant(safe-area-inset-bottom) + 683px);
        min-height: calc(env(safe-area-inset-bottom) + 683px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area aside.aside {
        height: calc(constant(safe-area-inset-bottom) + 683px);
        height: calc(env(safe-area-inset-bottom) + 683px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .c-content-area {
        height: calc(constant(safe-area-inset-bottom) + 683px);
        height: calc(env(safe-area-inset-bottom) + 683px);
        min-height: auto;
    }
}

@media screen and (max-height: 743px) and (min-width: 576px) and (max-width: 767px) {
    .c-map .c-content-area {
        min-height: calc(constant(safe-area-inset-bottom) + 643px);
        min-height: calc(env(safe-area-inset-bottom) + 643px);
    }
    .c-map .map-vertical-icon-area.map-pc-icon {
        height: calc(constant(safe-area-inset-bottom) + 601px);
        height: calc(env(safe-area-inset-bottom) + 601px);
    }
    .map-layer-wrap {
        max-height: calc(constant(safe-area-inset-bottom) + 561px);
        max-height: calc(env(safe-area-inset-bottom) + 561px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 458px);
        max-height: calc(env(safe-area-inset-bottom) + 458px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-area + .map-toptab-con .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 408px);
        max-height: calc(env(safe-area-inset-bottom) + 408px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-con .map-ledger2-list-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 199px);
        max-height: calc(env(safe-area-inset-bottom) + 199px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-layer-list-area {
        height: calc(constant(safe-area-inset-bottom) + 498px);
        height: calc(env(safe-area-inset-bottom) + 498px);
        max-height: none;
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-setting-area .map-setting .map-setting-item .map-setting-list {
        max-height: calc(constant(safe-area-inset-bottom) + 340px);
        max-height: calc(env(safe-area-inset-bottom) + 340px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .c-wrap {
        min-height: calc(constant(safe-area-inset-bottom) + 519px);
        min-height: calc(env(safe-area-inset-bottom) + 519px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area aside.aside {
        height: calc(constant(safe-area-inset-bottom) + 519px);
        height: calc(env(safe-area-inset-bottom) + 519px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .c-content-area {
        height: calc(constant(safe-area-inset-bottom) + 519px);
        height: calc(env(safe-area-inset-bottom) + 519px);
        min-height: auto;
    }
}

@media screen and (max-height: 663px) and (max-width: 575px) {
    .c-map .c-content-area {
        min-height: calc(constant(safe-area-inset-bottom) + 573px);
        min-height: calc(env(safe-area-inset-bottom) + 573px);
    }
    .c-map .map-vertical-icon-area.map-pc-icon {
        height: calc(constant(safe-area-inset-bottom) + 535px);
        height: calc(env(safe-area-inset-bottom) + 535px);
    }
    .map-layer-wrap {
        max-height: calc(constant(safe-area-inset-bottom) + 510px);
        max-height: calc(env(safe-area-inset-bottom) + 510px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 421px);
        max-height: calc(env(safe-area-inset-bottom) + 421px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-area + .map-toptab-con .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 377px);
        max-height: calc(env(safe-area-inset-bottom) + 377px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-toptab-con .map-ledger2-list-area .map-list-area {
        max-height: calc(constant(safe-area-inset-bottom) + 178px);
        max-height: calc(env(safe-area-inset-bottom) + 178px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-layer-list-area {
        height: calc(constant(safe-area-inset-bottom) + 446px);
        height: calc(env(safe-area-inset-bottom) + 446px);
        max-height: none;
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-setting-area .map-setting .map-setting-item .map-setting-list {
        max-height: calc(constant(safe-area-inset-bottom) + 313px);
        max-height: calc(env(safe-area-inset-bottom) + 313px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .c-wrap {
        min-height: calc(constant(safe-area-inset-bottom) + 439px);
        min-height: calc(env(safe-area-inset-bottom) + 439px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area aside.aside {
        height: calc(constant(safe-area-inset-bottom) + 439px);
        height: calc(env(safe-area-inset-bottom) + 439px);
    }
    .map-layer-wrap .map-layer-box .map-layer-con-area .c-content-area {
        height: calc(constant(safe-area-inset-bottom) + 439px);
        height: calc(env(safe-area-inset-bottom) + 439px);
        min-height: auto;
    }
}

@media screen and (max-height: 663px) and (max-width: 475px) {
    .map-layer-wrap .map-layer-box .map-layer-con-area .map-setting-area .map-setting .map-setting-item .map-setting-list {
        max-height: calc(constant(safe-area-inset-bottom) + 103px);
        max-height: calc(env(safe-area-inset-bottom) + 103px);
    }
}

/* search */
.m-wrap .c-search-wrap .c-search-aside-btn {
    bottom: calc(constant(safe-area-inset-bottom) + 75px);
    bottom: calc(env(safe-area-inset-bottom) + 75px);
}
.c-search-wrap .c-search-area .c-content-area .c-list-area .information-stats-area .information-stats-list {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 180px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 180px);
}

@media screen and (max-width: 767px) {
    .m-wrap .c-search-wrap .c-search-area {
        width: 100%;
        height: auto;
    }
    .m-wrap .c-search-wrap.on .c-search-aside-mask {
        display: block;
    }
    .m-wrap .c-search-wrap .c-search-aside-btn {
        display: block;
    }
    .m-wrap .c-search-wrap.on .c-search-aside-btn {
        top: calc(constant(safe-area-inset-top) + 73px);
        top: calc(env(safe-area-inset-top) + 73px);
        bottom: auto;
    }
}

@media screen and (max-width: 575px) {
    .m-wrap .c-search-wrap .c-search-aside-btn {
        bottom: calc(constant(safe-area-inset-bottom) + 64px);
        bottom: calc(env(safe-area-inset-bottom) + 64px);
    }
    .m-wrap .c-search-wrap.on .c-search-aside-btn {
        top: calc(constant(safe-area-inset-top) + 62px);
        top: calc(env(safe-area-inset-top) + 62px);
    }
}

/* disdia */
.c-disdia .c-list-area .diagram-area {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 130px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 130px);
}
.c-search-wrap.c-disdia .c-list-area .diagram-area {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 190px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 190px);
}

@media screen and (max-width: 991px) {
    .c-search-wrap.c-disdia .c-list-area .diagram-area {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 240px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 240px);
    }
}

@media screen and (max-width: 575px) {
    .c-disdia .c-list-area .diagram-area {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 110px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 110px);
    }
    .c-search-wrap.c-disdia .c-list-area .diagram-area {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 248px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 248px);
    }
}

/* snsBtn */
.sns-btn-area {
    bottom: calc(constant(safe-area-inset-bottom) + 15px);
    bottom: calc(env(safe-area-inset-bottom) + 15px);
}
.c-map ~ .sns-btn-area {
    bottom: calc(constant(safe-area-inset-bottom) + 57px);
    bottom: calc(env(safe-area-inset-bottom) + 57px);
}

@media screen and (max-width: 575px) {
    .sns-btn-area {
        bottom: calc(constant(safe-area-inset-bottom) + 10px);
        bottom: calc(env(safe-area-inset-bottom) + 10px);
    }
    .c-map ~ .sns-btn-area {
        bottom: calc(constant(safe-area-inset-bottom) + 48px);
        bottom: calc(env(safe-area-inset-bottom) + 48px);
    }
    .c-map.on ~ .sns-btn-area {
        bottom: calc(constant(safe-area-inset-bottom) + 86px);
        bottom: calc(env(safe-area-inset-bottom) + 86px);
    }
}

/* layer */
.layer-wrap {
    top: calc(constant(safe-area-inset-top) + 0px);
    top: calc(env(safe-area-inset-top) + 0px);
}
.layer-all-wrap {
    top: calc(constant(safe-area-inset-top) + 0px);
    top: calc(env(safe-area-inset-top) + 0px);
}
.layer-all-wrap .layer-box {
    height: calc(constant(safe-area-inset-bottom) + 100vh);
    height: calc(env(safe-area-inset-bottom) + 100vh);
}
.layer-wrap .layer-box .layer-con-area {
    max-height: calc(constant(safe-area-inset-bottom) + 100vh - 70px);
    max-height: calc(env(safe-area-inset-bottom) + 100vh - 70px);
}
.layer-all-wrap .layer-box .layer-con-area {
    max-height: calc(constant(safe-area-inset-bottom) + 100vh);
    max-height: calc(env(safe-area-inset-bottom) + 100vh);
}
.layer-wrap .layer-box .layer-tit-area ~ .layer-con-area {
    max-height: calc(constant(safe-area-inset-bottom) + 100vh - 128px);
    max-height: calc(env(safe-area-inset-bottom) + 100vh - 128px);
}
.layer-all-wrap .layer-box .layer-tit-area ~ .layer-con-area {
    max-height: calc(constant(safe-area-inset-bottom) + 100vh - 58px);
    max-height: calc(env(safe-area-inset-bottom) + 100vh - 58px);
}
.layer-wrap#disdia-add-layer .layer-box .layer-con-area .c-wrap {
    min-height: calc(constant(safe-area-inset-bottom) + 100vh - 58px);
    min-height: calc(env(safe-area-inset-bottom) + 100vh - 58px);
}
.layer-wrap#disdia-add-layer .layer-box .layer-con-area .c-content-area {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 58px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 58px);
}
.layer-wrap .layer-box .layer-con-area .disdia-add-list {
    height: calc(constant(safe-area-inset-bottom) + 100vh - 88px);
    height: calc(env(safe-area-inset-bottom) + 100vh - 88px);
}

@media screen and (max-width: 575px) {
    .layer-wrap .layer-box .layer-con-area {
        max-height: calc(constant(safe-area-inset-bottom) + 100vh - 56px);
        max-height: calc(env(safe-area-inset-bottom) + 100vh - 56px);
    }
    .layer-wrap .layer-box .layer-tit-area ~ .layer-con-area {
        max-height: calc(constant(safe-area-inset-bottom) + 100vh - 108px);
        max-height: calc(env(safe-area-inset-bottom) + 100vh - 108px);
    }
    .layer-all-wrap .layer-box .layer-tit-area ~ .layer-con-area {
        max-height: calc(constant(safe-area-inset-bottom) + 100vh - 52px);
        max-height: calc(env(safe-area-inset-bottom) + 100vh - 52px);
    }
    .layer-wrap#disdia-add-layer .layer-box .layer-con-area .c-wrap {
        min-height: calc(constant(safe-area-inset-bottom) + 100vh - 52px);
        min-height: calc(env(safe-area-inset-bottom) + 100vh - 52px);
    }
    .layer-wrap#disdia-add-layer .layer-box .layer-con-area .c-content-area {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 52px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 52px);
    }
    .layer-wrap .layer-box .layer-con-area .disdia-add-list {
        height: calc(constant(safe-area-inset-bottom) + 100vh - 72px);
        height: calc(env(safe-area-inset-bottom) + 100vh - 72px);
    }
}

